@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Album

<h1>Edit</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlbumID" name="AlbumID" value="@Model.AlbumID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="2"><h2>Showing songs for Album: @Model.Name</h2></th>
            </tr>
            <tr>
                <th><h3>Title</h3></th>
                <th><h3>Artist</h3></th>
                <th><h3>Options</h3></th>
            </tr>
        </thead>
        @foreach (SongAlbum sa in Model.SongAlbums)
        {
        <tr>
            <td>
                <a asp-area="" asp-controller="Album" asp-action="SongsByAlbum" asp-route-id="@Model.AlbumID">@(sa.Song.Title)</a>
            </td>
            <td>
                <a asp-area="" asp-controller="Album" asp-action="SongsByAlbum" asp-route-id="@Model.AlbumID">@(sa.Song.Artist)</a>
            </td>
            <td>
                <a asp-area="" asp-controller="SongAlbum" asp-action="RemoveSongAlbum" asp-route-id="@sa.SongAlbumID">Remove</a>
            </td>
        </tr>
        }
    </table>
</div>


<div>
    <a asp-action="List">Back to List</a>
</div>

